@media (max-width: 846px) {
    .remove_border{
        border: 0px;
    }
}
@media (max-width: 493px) {
    .remove_border1{
        border: 0px;
    }
}
@media (max-width: 640px) {
    .display_flex{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .finish_padding{
        padding-bottom: 0px !important;
    }
    .full_width{
        width: 100% !important;
    }
}
@media (max-width: 340px) {
    .review_card{
        width: 100%;
    }
}
@media (max-width: 1168px) {
    .flex_col{
        flex-direction: column !important;
    }
    .flex_col1 , .flex_col2 {
        width: 100%;
    }
    .padding_left{
        padding-left: 22px;
        padding-top: 60px;
    }
}
.stories__after ::after{
    height: 100%;
    width: 1px;
    background-color: #8AAAD2;
    content: '';
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translateX(50%);
} 
.transorm_translate{
    transform: translate(-50% , -50% );
}
.lenier_g{
    background-image: linear-gradient(to bottom right, #085C99 , #0D99FF);
}

.lllll:hover  .lll{
    display: block;
}

.shadowHigh{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.l:hover ~ .ll{
    display: block;
}