@media (max-width: 846px) {
    .remove_border{
        border: 0px;
    }
}
@media (max-width: 493px) {
    .remove_border1{
        border: 0px;
    }
}
@media (max-width: 640px) {
    .display_flex{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}